@{
    ViewBag.Title = "Error";
}

<h2>Error</h2>
<head>
    <link href="../../Content/Site.css" rel="stylesheet" type="text/css" />
    <title>Error</title>
</head>
<body>
    <div>
    <header>Smart mart solution - </header>   
     <ul id="navlist">               
            <li><a>@SmartMart3.Models.SaleEntities.sample.getCurrentAccount()</a></li>
            <li class="first"><a href="@Url.Content("~")" id="current">Sign Out</a></li>  
        </ul>   
     <ul>
        <h3>
        <li><a href="@Url.Content("~/Home/Index")">Home</a></li>  
        </h3>     
        
            
     </ul>     
    </div>
   
   </body>
</html>
