@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="../../Content/Site.css" rel="stylesheet" type="text/css" />
    <title>Smart Mart home page</title>
</head>
<body>
    <div>
    <h1>Smart mart solution</h1>
        <p>Home page</p>
        @Html.ActionLink("Sale","SaleView");
    </div>
</body>
</html>
