<!DOCTYPE html>

<html>
<head>
    <link href="../../Content/Site.css" rel="stylesheet" type="text/css" />
    <title>Sale</title>
</head>
<body>
    <div>
        <header>Smart mart solution - Sale</header>
        <ul>
        <li><a href="@Url.Content("~/Home/Index")">Home</a></li>
        <li><a href="@Url.Content("~/Cart/Cart")">Cart</a></li>
     </ul>         
    </div>
</html>